.container {
    position: relative;
}

.notification {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important;
    background-color: #f0f9eb !important;
    color: #4caf50 !important;
    border: 1px solid #4caf50 !important;
    border-radius: 5px !important;
    padding: 25px !important;
    animation: fadeInOut 3s ease-out forwards !important;
}

@keyframes fadeInOut {
    0% {
        opacity: 0 !important;
    }

    10% {
        opacity: 1 !important;
    }

    90% {
        opacity: 1 !important;
    }

    100% {
        opacity: 0 !important;
    }
}