/* global.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 50px !important;
    transition: background-color 0.3s ease;
    font-family: 'Roboto Slab', serif;
}

.buttonadd {
    display: flex !important;
    align-items: center !important;
    margin-top: 20px !important;
    width: 20% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.buttondel {
    color: black !important;
    display: flex !important;
    align-items: center !important;
    margin-top: 20px !important;
    width: 20% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #f16666 !important;
}

.aluno-avatar {
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    right: 5vh;
    z-index: 999;
}

tr:hover {
    background-color: #bbb6b6 !important;
    cursor: pointer !important;
}

.aluno-avatar-lista {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    transition: transform 0.2s ease;
    border-radius: 50%;

}

.aluno-avatar-lista:hover {
    transform: scale(1.4);
    border-radius: 50%;
    cursor: pointer;
}

.inputImage {
    /* display: none; */
}